html {
  background: #FFF;
}


header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  background: #CCC;
  padding: 0;
}

#navbar {
  background: #DDD;
  text-align: left;
}

#content {
  background: #EEF;
  padding: 0;
  margin: 0;
}
